@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'RymanEco';
  src: url('/font/RymanEco-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  @apply bg-clean-white text-deep-forest font-sans antialiased;
  min-height: 100vh;
  transition: background-color 0.3s, color 0.3s;
}

/* Utility class for RymanEco font */
.font-rymaneco {
  font-family: 'RymanEco', Arial, Helvetica, sans-serif;
}

.section-title {
  @apply text-3xl md:text-4xl font-bold font-rymaneco text-deep-forest text-center mb-12;
}
